.newsLink {
    clear: both;
    margin-bottom: 2em;

    a {
        font-size: 1.25em;
        display: block;
        font-weight: bold;

    }

    .source, .date {
        font-size: 0.8em;
        padding-left: 3em;
    }

    .summary {
        //border-bottom: 1px dashed white;
    }

    .source {
        //float: left;
    }
    .date {
        //float: right;
    }
}