.newsLink {
    clear: both;
    margin-bottom: 3em;

    a {
        font-size: 1.25em;
        display: block;
        font-weight: bold;

    }

    .source, .date {
        font-size: 0.8em;
        padding-left: 3em;
    }

    img {
        @extend .fl-center;
        max-width: $view-mobile-threshold;
        border-radius: 3px;
        background: white;
        padding: 3px;
    }
/*
    .summary, a {
        clear: both;
    }*/

    .summary {
        //border-bottom: 1px dashed white;
    }

    .source {
        //float: left;
    }
    .date {
        //float: right;
    }
}