
$form-margins: 0.5em;

[name~=getit] {
    display: none;
}

%form-styling2 {
    @extend .font-montserrat;
    font-size: 1.1em;
    padding: 0.5em;
    border-radius: 5px;
    background-color: lighten($color-background, 10%);
    color: white;
    border: 2px solid $color-trim;
    margin: $form-margins;
}

%form-styling {
    @extend .font-montserrat;
    font-size: 1.1em;
    padding: 0.5em;
    border-radius: 1px;
    background: linear-gradient(135deg, $color-trim, $color-accent);
    color: black;
    border: solid 2px $color-trim;
    margin: $form-margins;
}

form[name~=emailContact] {
    input, textarea, select {
        @extend %form-styling;
    }
    input {
        &[type~=text],
        &[type~=email] {
            width: calc(50% - #{$form-margins * 2});
            float: left;
            @include viewPhone() {
                width: calc(100% - #{$form-margins * 2});
            }
        }
    }
    textarea {
        
        resize: none;
        width: calc(100% - #{$form-margins * 2});
        height: 16em;
    }
    select {
        
        width: calc(100% - #{$form-margins * 2});
    }
}