$widget-width-min: 200px;

.goldWidget {
    @media screen and (min-width: #{$view-tablet-threshold + ($widget-width-min * 2)}) {
        position: absolute;
        right: 0;
        top: #{$nav-item-height * 2};
    }
    margin: auto;
    color: $color-accent;
    font-size: 0.8em;
    min-width: $widget-width-min;
    max-width: 400px;
    padding: 5px;

    &:empty {
        display: none;
    }

    div {
        display: flex;
        border-bottom: 1px dashed $color-accent;
        :nth-child(1) {
            justify-content: flex-start;
            margin-right: auto;
            border: none;
        }
        :nth-child(2) {
            margin-left: auto;
            justify-content: flex-end;
            border: none;
        }
    }
}