$team-image-size: 175px;

.teamMember {
    margin-bottom: 4em;
    clear: both;
    display: flex;

    @include viewPhone() {
        display: block;
        .aside {
            margin: auto;
        }
        .aside, .main {
            display: block;
            width: 100%;
        }
    }

    .aside {
        width: $team-image-size;
    }
    .main {
        width: 100%;
    }

    .name, .title {
        text-align: center;
    }
    .name {
        font-weight: bold;
        font-size: 1.5em;
    }
    .title {
        font-weight: bold;
        text-decoration: underline;
    }
    .bio {
        padding: 0.25em;
    }
    .image {
        width: $team-image-size;
        height: $team-image-size;
        background-position-x: 50%;
        background-position-y: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 3px;
        margin-top: 2.25em;
    }
}