.team {
    &.member {
        &:nth-child(2n) {
            padding-left: 10px;
        }
        @include viewPhone() {
            width: 100%;
            float: none;
        }
        position: relative;
        width: 100%;
        margin-bottom: 2em;
        text-align: center;
        clear: both;
        &:nth-child(2n) {
            .picture {
                float: right;
                @include viewPhone() {
                    float: none;
                    text-align: center;
                }
            }
            .title {
                text-align: right;
                @include viewPhone() {
                    text-align: center;
                }
            }
        }
        &:nth-child(2n+1) {
            .picture {
                float: left;
                @include viewPhone() {
                    float: none;
                    text-align: center;
                }
            }
            .title {
                text-align: left;
                @include viewPhone() {
                    text-align: center;
                }
            }
        }
        .picture {
            img {
                border-radius: 10px;
                border: solid 1px $color-background;
                width: 75%;
                max-width: 250px;
                max-height: 250px;
            }
        }
        .name {
            font-weight: bold;
            font-size: 1.25em;
        }
        .title {
            font-size: 1.05em;
            font-weight: bold;
        }
        .bio {
            text-align: left;
        }
    }
}