<!DOCTYPE html>
<html>
	<head>
		<title>{{global.site.title}}</title>
		<link rel="stylesheet" href="/assets/css/main.css">
	</head>
	<body>
        <article>
{{>@partial-block}}
        </article>
	</body>
    <script data-main="/assets/js/main.js" src="/assets/js/require.js"></script>
</html>