@import url('https://fonts.googleapis.com/css?family=Anton|Merriweather|Montserrat');
@import url('https://fonts.googleapis.com/css?family=Arimo|Libre+Franklin');
.font-anton {
    font-family: 'Anton', sans-serif;
}

.font-montserrat {
    font-family: 'Montserrat', sans-serif;
}

.font-merriweather {
    font-family: 'Merriweather', serif;
}

.font-arimo {
    font-family: 'Arimo', sans-serif;
}

.font-libre-franklin {
    font-family: 'Libre Franklin', sans-serif;
}

nav {
    @extend .font-merriweather;
    font-size: 1.15em;
}

article {
    @extend .font-montserrat;
}

header {
    @extend .font-merriweather;
    font-weight: bold;
    text-align: center;
    font-size: 2.25em;
    color: $color-trim;
}

.header {
    font-size: 2em;
    @extend .font-merriweather;
    color: $color-accent;
}

footer {
    @extend .font-libre-franklin;
}

h1,
h2,
h3,
h4,
h5 {
    @extend .font-anton;
}