@import url('https://fonts.googleapis.com/css?family=Anton|Merriweather|Montserrat');

nav {
    font-family: 'Anton', sans-serif;
    font-size: 1.15em;
}
article {
    //font-family: 'Merriweather', serif;
    font-family: 'Montserrat', sans-serif;
}

header {
    font-family: 'Merriweather', serif;
    font-weight: bold;
    text-align: center;
    font-size: 2.25em;
    color: $color-trim;
}

.team.member .name {
    font-family: 'Merriweather', serif;
}