@import url('https://fonts.googleapis.com/css?family=Anton|Merriweather|Montserrat');

.font-anton {
    font-family: 'Anton', sans-serif;
}
.font-montserrat {
    font-family: 'Montserrat', sans-serif;
}
.font-merriweather {
    font-family: 'Merriweather', serif;
}

nav {
    @extend .font-anton;
    font-size: 1.15em;
}
article {
    @extend .font-montserrat;
}

header {
    @extend .font-merriweather;
    font-weight: bold;
    text-align: center;
    font-size: 2.25em;
    color: $color-trim;
}