$view-desktop-threshold: 1100px;
$view-tablet-threshold: 900px;
$view-mobile-threshold: 600px;
$color-text: lightgrey;
$color-background: black;
$color-accent: orange;
$color-trim: gold;
$color-step: 10%;
$nav-item-width: 140px;
$nav-item-height: 40px;
$nav-border-radius: 5px;

$view-overshoot: ($view-desktop-threshold - $view-tablet-threshold) / 2