@import 'variables';
@import 'modules/mediaqueries';
@import 'modules/typing';
@import 'modules/effects';
@import 'modules/embeds';

@import 'modules/navigation_main';

@import 'components/*';
@import 'pages/*';


* {
	box-sizing: border-box;
}

body.debug {
	* {
		outline: 1px solid rgba($color-accent, 0.25);
	}
	div.debugbutton {
		color: $color-background;
		background-color: $color-accent;
	}
	
}
div.debugbutton {
	position: fixed;
	top: 0;
	left: 0;
	user-select: none;
	color: $color-accent;
	font-weight: 900;
	background-color: $color-background;
}

a {
	color: $color-text;
	&:hover, &:active {
		color: lighten($color-text, 20%);
	}
}

body {
	background: $color-background;
	height: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	color: $color-text;
	margin: 0;
	padding-top: 1.25em;
}

main {
	max-width: $view-tablet-threshold;
	margin: auto;
}

header {
	margin-bottom: 1.25em;
	@include viewPhone() {
		display: none;
	}
}

.excirLogo {
	margin: auto;
	max-width: $view-tablet-threshold;
	user-select: none;
}

footer {
	clear: both;
	margin-top: 45px;
	@extend .font-anton;
	color: $color-trim;
	text-align: center;

	img {
		user-select: none;
	}
}

.header {
	margin-bottom: 2.5em;
}

article {
	margin: auto;
	padding-top: #{$nav-item-height};
	width: 100%;
	max-width: $view-tablet-threshold;
}