@import 'variables';
@import 'modules/mediaqueries';
@import 'modules/typing';
@import 'modules/effects';
@import 'modules/embeds';

@import 'modules/nav_second';

@import 'components/*';
@import 'pages/*';

* {
	box-sizing: border-box;
//	outline: 1px solid rgba(blue, 0.2);
}

body.debug {
	* {
		outline: 1px solid rgba($color-accent, 0.25);
	}
	div.debugbutton {
		color: $color-background;
		background-color: $color-accent;
	}
	
}
div.debugbutton {
	position: fixed;
	top: 0;
	left: 0;
	user-select: none;
	color: $color-accent;
	font-weight: 900;
	background-color: $color-background;
}

a {
	color: $color-text;
	&:hover, &:active {
		color: lighten($color-text, 20%);
	}
}

body {
	background: $color-background;
	height: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	color: $color-text;
	margin: 0;
	padding-top: 1.25em;
}

main {
	//max-width: $view-tablet-threshold;
	margin: auto;
}

header {
	margin-bottom: 1.25em;
	@include viewPhone() {
		display: none;
	}
}

.excirLogo {
	margin: auto;
	max-width: 400px;
	user-select: none;
	
}

footer, section {
	position: relative;
	padding-top: 1.25em;
	border-top: 1px solid $color-trim;
	&:after {
		position: absolute;
		top: 0px;
		left:0px;
		height: 1px;
		width: 100%;
		content: "";
		border-top:1px solid $color-accent;
	}
}

footer {
	clear: both;
	margin: 2.5em auto;
	
	color: $color-trim;
	text-align: center;
	
	max-width: $view-tablet-threshold;
	
	img {
		user-select: none;
	}
}



article {
	margin: auto;
	padding-top: #{$nav-item-height};
	width: 100%;
	//max-width: 90%;
	max-width: $view-tablet-threshold;
}