$view-tablet-threshold: 900px;
$view-mobile-threshold: 600px;
$color-text: lightgrey;
$color-background: black;
$color-accent: orange;
$color-trim: gold;
$color-step: 10%;
$nav-item-width: 140px;
$nav-item-height: 40px;
$nav-border-radius: 5px;
@import 'modules/mediaqueries';
@import 'modules/typing';
@import 'modules/effects';
@import 'modules/embeds';

@import 'modules/navigation_main';

@import 'pages/*';

* {
	box-sizing: border-box;
}

body.debug {
	* {
		outline: 1px solid rgba($color-accent, 0.25);
	}
	div.debugbutton {
		color: $color-background;
		background-color: $color-accent;
	}
	
}
div.debugbutton {
	position: fixed;
	top: 0;
	left: 0;
	user-select: none;
	color: $color-accent;
	font-weight: 900;
	background-color: $color-background;
}

a {
	color: $color-text;
	&:hover, &:active {
		color: lighten($color-text, 20%);
	}
}

body {
	background: $color-background;
	height: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	color: $color-text;
}

main {
	max-width: $view-tablet-threshold;
	margin: auto;
}

header {
	margin-bottom: 1.25em;
}

.excirLogo {
	margin: auto;
	max-width: $view-tablet-threshold;
}

footer {
	clear: both;
	margin-top: 150px;
}



article {
	margin: auto;
	padding-top: #{$nav-item-height};
	width: 100%;
	max-width: $view-tablet-threshold;
}