@import 'variables';
@import 'modules/mediaqueries';
@import 'modules/typing';
$nav-item-height: 60px;
$nav-item-padding-v: 8px;
$nav-item-padding-h: 16px;
@import 'components/goldWidget';
/*
* {
    box-sizing: border-box;
    outline: 1px solid rgba(#00F, 0.2);
}

//*/

body {
    background-color: lighten($color-background, 15%);
}

.fix-to-top {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

nav.test1 {
    @extend .font-merriweather;
    background-color: $color-background;
    color: $color-accent;
    .logo {
        svg {
            height: $nav-item-height;
            stroke: none;
            font-size: 20px;
            font-weight: normal;
            font-family: "Times New Roman", Georgia, Serif;
        }
    }
    svg {
        fill: $color-accent;
    }
    a {
        color: $color-accent;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    @include viewTablet() {
        display: block; //max-height: 100vh;
        transition: bottom 0.25s;
        transition: top 0.25s;
        transition: left 0.25s;
        transition: right 0.25s;
        &.is-active {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 100;
            //max-height:50vh;
            .menu {
                position: absolute;
                top: $nav-item-height;
                bottom: 0;
                left: 0;
                right: 0;
                
                overflow-y: scroll;
                display: flex;
            }
        }
        .menu {
            display: none;
            .link,
            .item {
                display: block;
                line-height: #{$nav-item-height - (2 * $nav-item-padding-v)};
                overflow: hidden;
            }
        }
        .logo {
            display: flex;
            max-height: $nav-item-height;
            .burger {
                cursor: pointer;
                display: block;
                height: $nav-item-height;
                position: relative;
                width: $nav-item-height;
                margin-left: auto;
                span {
                    background-color: currentColor;
                    border-radius: 5px;
                    display: block;
                    height: 3%;
                    left: calc(25%);
                    position: absolute;
                    width: 50%;
                    &:nth-child(1) {
                        top: calc(35%);
                    }
                    &:nth-child(2) {
                        top: calc(50%);
                    }
                    &:nth-child(3) {
                        top: calc(65%);
                    }
                }
            }
            svg {
                max-height: $nav-item-height;
            }
        }
        .dropdown .item {
            padding-left: 1em;
            &::before {
                content: ' - ';
            }
        }
        .menu,
        .logo {
            .item {
                padding: $nav-item-padding-v $nav-item-padding-h;
                line-height: #{$nav-item-height - (2 * $nav-item-padding-v)};
            }
        }
    }
    @include beyondTablet() {
        display: flex;
        align-items: stretch; //height: $nav-item-height;
        background-color: $color-background;
        color: $color-accent;
        .logo {
            display: flex;
            flex-shrink: 0;
            align-items: stretch;
            -webkit-box-align: stretch;
            svg {}
        }
        .menu {
            display: flex;
            flex-shrink: 0;
            flex-grow: 1;
            align-items: stretch;
            position: relative;
        }
        .start,
        .end,
        .logo {
            .item {
                font-size: 1em;
                padding: $nav-item-padding-v $nav-item-padding-h;
                max-height: #{$nav-item-height - (2 * $nav-item-padding-v)};
                line-height: #{$nav-item-height - (2 * $nav-item-padding-v)};
                transition: background-color 0.25s;
                &:hover {
                    .link {
                        color: white;
                    }
                    border-bottom-width: 2px;
                    color: white;
                    background-color: $color-accent;
                    &.is-hoverable .dropdown {
                        display: block;
                    }
                    &.no-highlight {
                        background-color: transparent;
                        color: $color-accent;
                        border-bottom-width: 0px;
                    }
                }
                &.has-dropdown {
                    -webkit-box-align: stretch;
                    -ms-flex-align: stretch;
                    align-items: stretch;
                    &:after {
                        content: '+';
                    }
                }
            }
            .dropdown {
                background-color: $color-background;
                display: none;
                font-size: 0.875rem; //left: 0px;
                //min-width: 100%;
                position: absolute;
                top: 100%;
                z-index: 20; //border-left: solid 2px $color-accent;
                .item {
                    position: relative;
                    padding: 0.375rem 1rem;
                    padding-right: 1rem;
                    white-space: nowrap;
                    display: flex;
                    align-items: center;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-flex: 0;
                    -ms-flex-positive: 0;
                    flex-grow: 0;
                    -ms-flex-negative: 0;
                    flex-shrink: 0;
                }
            }
        }
        .start {
            display: flex;
            justify-content: flex-start;
            margin-right: auto;
        }
        .end {
            display: flex;
            justify-content: flex-end;
            margin-left: auto;
        }
    }
}