.fl-left {
    float:left;
    text-align: center;
    @include viewDesktop() {
        position: relative;
        left: -$view-overshoot;
        margin-right: -#{$view-overshoot - 5px};
    }
    
}
.fl-right {
    float:right;
    text-align: center;
    @include viewDesktop() {
        position: relative;
        right: -$view-overshoot;
        margin-left: -#{$view-overshoot - 5px};
    }
}
.fl-center {
    display:block;
    margin:auto;
    text-align: center;
}

.sz-quarter {
    width: 25%;
    @include viewPhone() {
        width: 100%;
    }
    @include viewDesktop() {
        &.fl-left, &.fl-right {
            width: calc(25% + #{$view-overshoot});
        }
    }
}
.sz-half {
    width: 50%;
    @include viewPhone() {
        width: 100%;
    }
}
.sz-fluid {
    width: 100%;
}

.page-bg {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(/assets/img/bg-accent.svg) no-repeat;
    background-size: cover; 
}