{{#>wrapper}}
{{#blog}}
{{#each this.entries}}
<div class="entry blog">
    <a href="/blog/{{page_slug}}"><span class="title">{{content._blog.title}}</span></a>
    <span class="date">{{content._blog.publishing.date}}</span>
    <span class="teaser">{{{marked content._blog.stub.teaser}}}</span>
</div>
{{/each}}
{{/blog}}
{{/wrapper}}