{{#>wrapper}}
{{#each team}}
<div class="team member2">
    <div class="top" {{#if picture}}style="background-image: url({{picture}});"{{/if}}>
        <div class="name">{{name}}</div>
    </div>
    <div class="bottom">
        <div class="title">{{title}}</div>
        <div class="bio">{{{bio}}}</div>
    </div>
</div>
{{/each}}
{{/wrapper}}